/* Reset */
:root {
	--primary: #b6895b;
	--dark: #010101;
	--white: #fff;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	text-decoration: none;
}
html {
	scroll-behavior: smooth;
}
.menu {
	position: relative;
	padding: 50px 0;
	color: white;
	/* Màu chữ để dễ nhìn trên nền video */
	text-align: center;
}
.cta {
	display: inline-block;
	/* Để button có thể có kích thước */
	padding: 10px 20px;
	/* Khoảng cách bên trong */
	background-color: #ffcc00;
	/* Màu nền */
	color: #000;
	/* Màu chữ */
	text-decoration: none;
	/* Bỏ gạch chân */
	border: 2px solid #ffcc00;
	/* Đường viền */
	border-radius: 5px;
	/* Bo góc */
	transition: background-color 0.3s, color 0.3s;
	/* Hiệu ứng chuyển đổi */
}
.cta:hover {
  transform: scale(1.2); /* Phóng to nút */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3); /* Thêm đổ bóng */
  background-color: pink; /* Đổi màu nền để rõ hơn khi hover */
}
.video-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	/* Đặt video phía dưới các phần tử khác */
	overflow: hidden;
}
#background-video {
	width: 100%;
	height: 100%;
	object-fit: cover;
	/* Đảm bảo video không bị méo và phủ toàn bộ phần nền */
}
.menu h2 {
	font-size: 2.5rem;
	color: white;
	margin-bottom: 20px;
}
.menu h2 span {
	color: #f39c12;
}
.menu p {
	font-size: 1rem;
	color: white;
	margin-bottom: 40px;
}
.row {
	display: flex;
	justify-content: space-between;
	gap: 30px;
}
.menu-card {
	width: 22%;
	background-color: rgba(0, 0, 0, 0.5);
	/* Màu nền mờ cho các thẻ menu */
	padding: 20px;
	border-radius: 10px;
	text-align: center;
	color: white;
}
.menu-card img {
	width: 100%;
	border-radius: 10px;
}
.menu-card-title {
	font-size: 1.5rem;
	margin-top: 10px;
}
.menu-card-price {
	font-size: 1.2rem;
	margin: 10px 0;
}
.menu-card p {
	font-size: 1rem;
}
body {
	font-family: "Poppins", sans-serif;
	background-color: var(--dark);
	color: var(--white);
	/* min-height: 5000px;
	*/
}
/* Reset */
/* Navbar */
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.4rem 7%;
	background-color: rgba(1, 1, 1, 0.8);
	border-bottom: 1px solid #513c28;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99999999;
}
.navbar .navbar-logo {
	font-size: 2rem;
	font-weight: 700;
	font-style: italic;
	color: var(--white);
}
.navbar .navbar-logo span {
	color: var(--primary);
}
.navbar .navbar-nav a {
	color: var(--white);
	display: inline-block;
	font-size: 1.3rem;
	margin: 0 1rem;
}
.navbar .navbar-nav a:hover {
	color: var(--primary);
}
.navbar .navbar-nav a::after {
	content: "";
	display: block;
	padding-bottom: 0.5rem;
	border-bottom: 0.1rem solid var(--primary);
	transform: scaleX(0);
	transition: 0.2s linear;
}
.navbar .navbar-nav a:hover::after {
	transform: scaleX(0.5);
}
.navbar .navbar-extra a {
	color: var(--white);
	margin: 0 0 0.5rem;
}
.navbar .navbar-extra a:hover {
	color: var(--primary);
}
#hamburger-menu {
	display: none;
}
/* Navbar */
/* Hero */
.hero {
	min-height: 100vh;
	display: flex;
	align-items: center;
	background-image: url("../img/coffe-flip.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	animation: changeBackground 20s linear infinite;
}
@keyframes changeBackground {
	0% {/*thời gian bắt đầu chuyển hình ảnh*/
		background-image: url("../img/coffe-flip.jpg");
	}
	50% {
		background-image: url("../img/caphedua.jpg");
	}
	100% {
		background-image: url("../img/capuchino.jpg");
	}
}
.hero::after {
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 30%;
	bottom: 0;
	background: linear-gradient(0deg, rgba(1, 1, 3, 1) 8%, rgba(255, 255, 255, 0) 50%);
}
.hero .content {
	padding: 1.4rem 7%;
	max-width: 60rem;
}
.hero .content h1 {
	font-size: 5em;
	color: var(--white);
	text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
	line-height: 1.2;
}
.hero .content h1 span {
	color: var(--primary);
}
.hero .content p {
	font-size: 1.6rem;
	margin-top: 0.5rem;
	line-height: 1.4;
	font-weight: 100;
	text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
	mix-blend-mode: difference;/* chuyen mau sac*/
}
.hero .content .cta {
	margin-top: 1rem;
	display: inline-block;
	padding: 1rem 3rem;
	font-size: 1.4rem;
	color: var(--white);
	background-color: var(--primary);
	border-radius: 0.5rem;
	box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}
/* Hero */
/* About Us */
.about,.menu,.contact {
	padding: 10rem 7% 1.4rem;
}
.about h2,.menu h2,.contact h2 {
	text-align: center;
}
.about h2 span,.menu h2 span,.contact h2 span {
	color: var(--primary);
}

.about .row .about-img {
	flex: 1 1 45rem;
}
.about .row .about-img img {
	width: 100%;
}
.about .row .content {
	flex: 1 1 35rem;
	padding: 0 1rem;
}
.about .row .content h2 {
	font-size: 1.8rem;
	margin-bottom: 1rem;
}
.about .row .content h2 span {
	color: var(--primary);
}
.about .row .content h3 span {
	color: var(--primary);
}
.about .row .content p {
	font-size: 1.4rem;
	font-weight: 100;
	margin-bottom: 0.8rem;
	line-height: 1.6;
}
/* About Us */
/* Menu */
.menu h2,.contact h2 {
	margin-bottom: 1rem;
}
.menu p,.contact p {
	margin: auto;
	text-align: center;
	max-width: 20rem;
	font-weight: 100;
	line-height: 1.6;
}
.menu .row {
	display: flex;
	flex-wrap: wrap;
	margin-top: 5rem;
	justify-content: center;
}
.menu .row .menu-card {
	text-align: center;
	padding-bottom: 4rem;
}
.menu .row .menu-card img {
	border-radius: 50%;
	width: 80%;
}
.menu .row .menu-card .menu-card-title {
	margin: 1rem auto 0.5rem;
}
/* Menu */
/* Contact */
.contact .row {
	display: flex;
	margin-top: 2rem;
	background-color: #222;
}
.contact .row .map {
	flex: 1 1 45rem;
	width: 100%;
	object-fit: cover;
}
.contact .row form {
	flex: 1 1 45px;
	padding: 50px 50px;
	text-align: center;
}
.contact .row form .input-group {
	display: flex;
	align-items: center;
	margin-top: 10px;
	background-color: var(--dark);
	border: 1px solid #eee;
	padding-left: 10px;
	border-radius: 10px;
}
.contact .row form .input-inline {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-top: 1rem;
	padding: 1rem 3rem;
}
.contact .row form .input-group input {
	padding: 10px;
	font-size: 10px;
	background: none;
	color: #fff;
}
.contact .row form .btn {
	cursor: pointer;
	margin-top: 1rem;
	display: inline-block;
	padding: 1rem 3rem;
	font-size: 1.7rem;
	border-radius: 2rem;
	background-color: var(--primary);
	color: var(--white);
}
/* Contact */
.about-section {
	padding: 60px 20px;
	text-align: left;
	background-color: #ffffff;
}
.about-section h2 {
	color: #FF6347;
	font-size: 1.8em;
	margin-bottom: 20px;
}
.about {
	padding: 20px;
}
.about h2 {
	text-align: center;
	font-size: 2.6rem;
	margin-bottom: 8rem;
}
.about p {
	font-size: 1.2em;
	line-height: 1.6;
	color: white;
}
.about-image {
	/* Làm cho ảnh trôi sang trái */
	margin-right: 15px;
	/* Khoảng cách giữa ảnh và văn bản */
	margin-bottom: 15px;
	/* Khoảng cách dưới ảnh */
	max-width: 300px;
	/* Giới hạn chiều rộng của ảnh */
	border-radius: 10px;
	/* Đảm bảo ảnh có góc bo tròn */
}
/* Media Query */
/* Laptop */
@media (max-width: 1366px) {
	html {
		font-size: 75%;
	}
}
/* Tablet */
@media (max-width: 768px) {
	html {
		font-size: 62.5%;
	}
	#hamburger-menu {
		display: inline-block;
	}
	.navbar .navbar-nav {
		position: absolute;
		top: 100%;
		right: -100%;
		background-color: var(--white);
		width: 30rem;
		height: 100vh;
		transition: 0.4s;
	}
	.navbar .navbar-nav.active {
		right: 0;
	}
	.navbar .navbar-nav a {
		color: var(--dark);
		display: block;
		margin: 1.5rem;
		padding: 0.5rem;
		font-size: 2rem;
	}
	.navbar .navbar-nav a::after {
		transform-origin: 0 0;
	}
	.navbar .navbar-nav a:hover::after {
		transform: scaleX(0.2);
	}
	.about .row {
		flex-wrap: wrap;
	}
	.about .row .content {
		padding: 0;
	}
	.about .row .content h3 {
		margin-top: 1rem;
		font-size: 1.6rem;
	}
	.about .row .about-img img {
		height: 24rem;
		object-fit: cover;
		object-position: center;
	}
	.menu p {
		font-size: 1.2rem;
	}
	.contact .row {
		flex-wrap: wrap;
	}
	.contact .row .map {
		height: 30rem;
	}
	.contact .row form {
		padding-top: 0;
	}
}

/* Footer */
footer {
	background-color:black;
	color: white;
	padding: 30px;
	text-align: center;
}
footer .socials a {
	color: white;
	margin: 0 10px;
	font-size: 24px;
}
footer .links a {
	color: #ccc;
	margin: 0 15px;
	font-size: 16px;
	text-transform: uppercase;
}
footer .links a:hover {
	color: #ffcc00;
}
footer .credit {
	margin-top: 20px;
}
footer .credit p {
	font-size: 14px;
}
.data-container {
  width: 100%;
  overflow-x: auto;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(249, 247, 247, 0.1);
}

#dataTable {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Segoe UI', sans-serif;
}

#dataTable thead {
  background-color: #766b6b;
  color: white;
}

#dataTable th, #dataTable td {
  padding: 12px 16px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

#dataTable tbody tr:hover {
  background-color: #f9f9f9;
}

#dataTable tbody td {
  color: #eae7e7;
}
